body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h2 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: rgb(17, 0, 255);
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: rgb(106, 115, 238);
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 236px;
  background: #fbfbfb;
  color: #6f6bb3;
  align-items: center;
  font-family: Red Hat Display;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  display: flex;
}
.blog-description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
  display: flex;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  /* H3 */

  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}
.blog-post-meta {
  position: flex;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
}

.author {
  width: 86px;
  height: 24px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;

  /* identical to box height */

  display: flex;
  align-items: center;
}
.o {
  width: 6px;
  height: 6px;
  background: #a73a66;
  border-radius: 50%;
}
h5 {
  width: 296px;
  height: 356px;

  /* White */

  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10%;
}
.name {
  position: flex;
  width: 67px;
  height: 32px;
  font-family: Red Hat Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  padding-top: 20%;
  padding-left: 10%;
  /* identical to box height */

  color: #000000;
}
.mb-0 {
  /* Paragraph 14 */
  padding: 5%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #000000;
}
/*
 * Footer
 */

.blog-footer {
  color: #999;
  text-align: center;
  background-color: #6f6bb3;
  border-top: 1px solid #e5e5e5;
  height: 150px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
