body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: rgb(17, 0, 255);
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: rgb(106, 115, 238);
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 236px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 400;
  color: rgb(116, 85, 255);
}
.blog-description {
  font-size: 20px;
  color: rgb(116, 85, 255);
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  font-style: italic;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #6f6bb3;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
